{% extends 'FoodOrder/baseform.html.twig' %}
{# @var itemList \AppBundle\Entity\OrderItem[] #}
{# @var totalCost integer #}

{% block orderbody %}
    <h1>Shopping Cart</h1>
        <p><a href="{{ path('cartempty') }}" class="btn btn-xs" role="button">Empty Cart</a></p>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>Food</th>
            <th>Cost</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for key, orderItem in itemList %}
                {# @var orderItem \AppBundle\Entity\OrderItem #}
                <tr>
                    <td>{{ orderItem.food.getName() }}</td>
                    <td>{{ orderItem.food.cost }}</td>
                    <td>{{ orderItem.amount }}</td>
                    <td><a class="btn btn-danger" href="{{ path('cartremoveone', { 'arrid': key }) }}">&#10006;</a></td>
                </tr>
        {% endfor %}
        <br />
        Total cost: {{ totalCost }}
        </tbody>
    </table>

    <p><a href="{{ path('sendorder') }}"  class="btn btn-default" role="button" >Send Order</a></p>

{% endblock %}