{% extends 'base.html.twig' %}

{% block title %}
    Food Ordering App
{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% block orderbody %}{% endblock %}
    {% if not loggedIn %}
        <p><a href="{{ path('login') }}"> Log in</a></p>
        <p><a href="{{ path('register') }}"> Register </a></p>
        {% else %}
            {% if not admin %}
                <p><a href="{{ path('address_mod') }}"> Change My Address</a></p>
                <p><a href="{{ path('cart') }}"> View Cart</a></p>
                {% else %}
                    <p><a href="{{ path('add_admin') }}"> Add Administrator</a></p>

            {% endif %}
            <p><a href="{{ path('foods') }}"> See Foods</a></p>
            <p><a href="{{ path('account') }}"> Account settings</a></p>
            <p><a href="{{ path('logout') }}"> Logout</a></p>
    {% endif %}
    <hr />
{% endblock %}