{% extends 'base.html.twig' %}

{% block title %}
    Food Ordering App
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path("foods") }}">Food Ordering</a>
            </div>
            <ul class="nav navbar-nav" >
        {% if not is_granted('ROLE_USER') %}
            <li><a href="{{ path('fos_user_security_login') }}"> Log in</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}"> Register </a></li>
        {% else %}
            <li><a href="{{ path('foods') }}">Menu</a></li>
            <li><a href="{{ path('cart') }}">Cart</a></li>
            <li><a href="{{ path('listorders') }}">My orders</a></li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
            {% if is_granted('ROLE_ADMIN') %} LOFASZ {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('users') }}"> Manage Users </a></li>
                <li><a href="{{ path('manageorders') }}"> Manage Orders </a></li>
            {% endif %}
        {% endif %}
            </ul>
        </div>
    </nav>
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="col-md-10">
        {% block orderbody %}{% endblock %}
    </div>
{% endblock %}