{# @var arr \AppBundle\Entity\Order[] #}
{% extends 'FoodOrder/baseform.html.twig' %}

{% block orderbody %}
    <h1>Orders</h1>

    <hr />
    <table border="0" class="table">
        <thead>
        <tr>
            <th>OrderDate</th>
            <th>DeliverDate</th>
            <th>Ordered by</th>
        </tr>
        </thead>
        <tbody>

        {% for order in orders %}
            {# @var order \AppBundle\Entity\Order #}
            <tr>
                <td>{{order.getOrderDate()|date("Y/m/d H:i:s")}}</td>
                <td>{% if order.getDeliverDate()%}
                    {{ order.getDeliverDate()|date("Y/m/d H:i:s")}}
                {% else %}
                    Not yet delivered
                {% endif %}
                </td>
                <td>{{order.getUser().getUserName()}}</td>
                <td>
                    <td><a class="btn btn-default" href="{{ path('showorder', { 'orderId': order.getId() }) }}">Show</a></td>
                </td>
                {% if admin %}
                    {% if not order.getDeliverDate() %}
                    <td><a class="btn btn-default" href="{{ path('deliverorder', { 'orderId': order.getId() }) }}">Set to Delivered</a></td>
                        {% else %}
                            <td></td>
                    {% endif %}
                        <td><a class="btn btn-default btn-danger" href="{{ path('deleteorder', { 'orderId': order.getId() }) }}">DELETE</a></td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}