
{% extends 'FoodOrder/baseform.html.twig' %}

{% block orderbody %}
    <h1>List of foods</h1>

    <hr />
    <table border="0" class="table">
        <thead>
        <tr>
            <th>Real Name</th>
            <th>Username</th>
            <th>Email address</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userlist %}
                {# @var user \AppBundle\Entity\User #}
                <tr>
                    <td>{{ user.getRealName() }}</td>
                    <td>{{ user.getUserName() }}</td>
                    <td>{{ user.getEmail() }}</td>
                        <td><a class="btn btn-default" href="{{ path('useredit_admin', { 'userId': user.getId() }) }}">Edit</a></td>
                        <td><a class="btn btn-danger" href="{{ path('userdel_admin', { 'userId': user.getId() }) }}">&#10006;</a></td>
                   </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}